<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Electronic Clam</string>
    <key>CFBundleDisplayName</key>
    <string>Electronic Clam</string>
    <key>CFBundleIdentifier</key>
    <string>com.jadhvank.eclam</string>
    <key>CFBundleExecutable</key>
    <string>ElectronicClam</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>ko</string>
        <string>ja</string>
        <string>zh-Hans</string>
        <string>es</string>
    </array>
    <key>CFBundleVersion</key>
    <string>0.6.5</string>
    <key>CFBundleShortVersionString</key>
    <string>0.6.5</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2026 Electronic Clam</string>
</dict>
</plist>
